:root {
    --input-left: 87px;
}

* {
    box-sizing: border-box;
    color: #333;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-weight: bold;
}

h1 {
    position: absolute;
    top: 20px;
}

#board-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sidebar {
    width: 130px;
    height: 260px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wide {
    width: 260px;
}

.wider {
    width: 390px;
}

.widest {
    width: 520px;
}

@media screen and (max-width: 520px) {
    .wide {
        width: 100%;
    }
    
    .wider {
        width: 100%;
    }
    
    .widest {
        width: 100%;
    }
}

span {
    width: 100%;
    margin-bottom: 5px;
}

span > p {
    font-size: 16px;
    width: fit-content;
    float: left;
    margin: 5px 0 0 5px;
}

.vertical-center {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    display: block;
    width: 110px;
    height: 40px;
    border: 2px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: #ddd;
    cursor: pointer;
}

#you-symbol, #toebrain-symbol {
    width: 30px;
    height: 30px;
    float: right;
    margin: 0;
}

divider {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0px;
    background-color: #ddd;
    border-radius: 5px;
}

input {
    width: calc(100% - var(--input-left));
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.right {
    float: right;
}

.left {
    float: left;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    grid-row-gap: 10px;
    user-select: none;
}

p {
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px;
    width: 260px;
}

#error-toast {
    opacity: 0;
    transition: opacity 0.3s;
}

#error-toast.active {
    opacity: 1;
}

.cell {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #e0e0e0;
}

#log-wrapper {
    height: calc(50% - 190px);
    width: 100%;
    bottom: 0;
    position: absolute;
}

h2 {
    float: left;
    margin: 10px;
}

#clear-log {
    height: 28px;
    float: right;
}

#log {
    width: calc(100% - 20px);
    height: calc(100% - 48px);
    border: 2px solid #ddd;
    border-bottom: 0;
    border-radius: 5px 5px 0px 0px;
    float: left;
    margin: 0px 10px 0px 10px;
    background-color: #f1f1f1;
    overflow-y: scroll;
    overflow-wrap: normal;
    text-align: left;
    font-weight: normal;
    padding: 10px;
}

.turn-wrapper {
    border: solid 2px #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f4f4f4;
    margin-top: 10px;
}

div:nth-child(-n + 1 of .turn-wrapper) {
    margin: 0;
}

.input-wrapper, .output-wrapper {
    background-color: #f1f1f1;
    border: solid 2px #ddd;
    border-radius: 5px;
    padding: 10px;
}

.input-wrapper {
    margin-bottom: 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}